.env
venv
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
logs/
*.log
db.sqlite3
/staticfiles/
/media/
.envrc
.env.local
.env.production
.env.production.local
.env.test   
.env.test.local
.env.dev
.env.dev.local
.env.example
.env.test.example
.env.dev.example
.env.production.example
.envrc.local